---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching You, Ben</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
  <p class="doc">
    <%= link_to "List", "/list.html" %>
  </p>
  <p class="doc">
    <%= link_to "Welcome", "/welcome.html" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
