---
title: "List"
my_list:
  - one
  - two
  - three
---

<h1>List</h1>
<p class="doc">
  <%= link_to "Welcome", "/welcome.html" %>
</p>
<p class="doc">
  <%= link_to "Index", "/index.html" %>
</p>
<ol>
  <% current_page.data.my_list.each do |f| %>
  <li><%= f %></li>
  <% end %>
</ol>
